a {
  text-decoration: none;
  color: #fff;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.gnb a {
  /* border: 1px solid green; */
  width: 300px;
  display: block;
  height: 40px;
  position: relative;
  overflow: hidden;
}

.gnb a:before,
.gnb a:after {
  content: attr(data-text);
  position: absolute;
  width: inherit;
  height: inherit;
  text-align: center;
  line-height: 40px;
  text-transform: uppercase;
  transition: 0.3s;
}

.gnb a:before {
  background-color: crimson;
  top: 0;
}

.gnb a:after {
  background-color: royalblue;
  top: 100%;
}

.gnb a:hover:before {
  top: -100%;
}

.gnb a:hover:after {
  top: 0;
}
